body{
    font-family: 'Montserrat', sans-serif;
}

.nav-top{
    background-color: #2C3E50;
    height: 3rem;
}

.header-page{
    background-color: #1ABC9C;
}

.barra{
    width: 50px;
    height: 5px;
}

.bl_card{
    border-radius: 2rem;
    overflow: hidden;
}

.about{
    margin-top: 30px;
    background-color: #1ABC9C;
}

.btn{
    background-color: #1ABC9C;
}

.portfolio{
    margin-top: 30px;
}

.contact{
    margin-top: 30px;
}